annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.0
asgiref==3.11.1
click==8.3.1
colorama==0.4.6
contourpy==1.3.3
cycler==0.12.1
distlib==0.4.0
Django==6.0.3
fastapi==0.128.0
filelock==3.20.1
fonttools==4.61.1
gunicorn==25.1.0
h11==0.16.0
idna==3.11
joblib==1.5.3
kafka-python==2.3.0
kiwisolver==1.4.9
matplotlib==3.10.8
numpy==2.4.2
packaging==26.0
pandas==3.0.1
pillow==12.1.1
platformdirs==4.5.1
pydantic==2.12.5
pydantic_core==2.41.5
pyparsing==3.3.2
python-dateutil==2.9.0.post0
scikit-learn==1.8.0
scipy==1.17.1
six==1.17.0
sqlparse==0.5.5
starlette==0.50.0
threadpoolctl==3.6.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
uvicorn==0.40.0
virtualenv==20.35.4
virtualenvwrapper-win==1.2.7
